---
---
<!doctype html>
<html>
  <head>
    <style>
      body {
        background-color: black;
        color: white;
        text-align: center;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
      }
      #logo { width: 200px }
      .stru {
        width: 600px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
      }
      .cm-scroller {
        overflow-x: hidden !important;
      }

      a, a:visited {
        color: white;
      }

    </style>
    <script>
    </script>
  </head>
  <body>
    <img id="logo" src="assets/strudel.png"/>
    <h1>stru</h1>
    <h2>Strudel.cc packages collection!</h2>
    <div>
      {% for script in site.scripts %}
        <a href="#{{script.name}}">{{script.name}}</a>
      {% endfor %}
    </div>


    {% for script in site.scripts %}
    <div class="stru" id="{{script.name}}">
      <h2>{{script.name}}</h2>
      <h4>{{script.description}}</h4>
      <strudel-editor>
        <!--
await import('https://stru.fazibear.me/{{script.name}}')
{{ script.example }}
        -->
      </strudel-editor>
    </div>
    {% endfor %}
    <script src="https://unpkg.com/@strudel/repl@latest"></script>
  </body>
</html>

